<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passiocoffee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainDatHang" />
        <activity android:name=".MainTaiKhoan" />
        <activity android:name=".MainTichDiem" />
        <activity android:name=".MainCoupon" />
        <activity android:name=".MainRewards" />
        <activity android:name=".MainTaiKhoanChuaLogin" />
        <activity android:name=".MainLogin" />
        <activity android:name=".MainLoginSDT" />
        <activity android:name=".MainChiTiet" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>